.close:hover {
  background: none;
  color: $theme-color;
  transform: rotate(90deg);
}
.attribute-name {
  color: #989898;
  font-size: 13px;
}

.pt-30{
  overflow-y:scroll; 
    position:relative;
    height: 190px;    
}
